@import url("../utilities/colors.scss");

.state-callout-line {
	stroke: var(--color-black);
	pointer-events: none;
}

.district-tooltip-line {
	stroke: var(--color-black);
	pointer-events: none;
}

.state-callout-pill {
	transition: transform 0.2s ease;
	cursor: pointer;

	.state-callout-bg {
		vector-effect: non-scaling-stroke;
	}

	.state-callout-text {
		vector-effect: non-scaling-stroke;
		font-family: 'Crimson Text', serif;
		font-weight: 600;
		fill: var(--color-dark-grey);
		pointer-events: none;
        margin: 10px;

		background: var(--color-white);
		padding: 2px 5px 2px 5px;
		vertical-align: center;
	}

	&:hover, &.active {

		.state-callout-text {
			fill: var(--color-black);

		}
	}
}