/* SVG Callout Styling */

.state-callout-line {
	stroke: #000000;
	pointer-events: none;
}

.district-tooltip-line {
	stroke: #000000;
	pointer-events: none;
}

.state-callout-pill {
	transition: transform 0.2s ease;
	cursor: pointer;

	.state-callout-bg {
		vector-effect: non-scaling-stroke;
	}

	.state-callout-text {
		vector-effect: non-scaling-stroke;
		font-family: 'Crimson Text', serif;
		font-weight: 600;
		fill: #888888;
		pointer-events: none;
        margin: 10px;

		background: #ffffff;
		border-radius: 15px;
		border: 2px solid #888888;
		padding: 5px 20px 0px 20px;
		vertical-align: center;
	}

	&:hover, &.active {
		.state-callout-bg {
			stroke: #000000;
			background: #319795;
		}

		.state-callout-text {
			fill: #000000;

		}
	}
}