.county-boundary {
	fill: #f7fafc;
	stroke: #131913;
	stroke-width: 0.5px;
	vector-effect: non-scaling-stroke;
	transition: all 0.2s ease;

	&:hover, &.hover {
		fill: rgba(49, 130, 206, 0.15);
		stroke: #3182ce;
		stroke-width: 1.5px;
		cursor: pointer;
	}

	&.active {
		fill: none !important;
		stroke: oklch(49.369% 0.01594 145.492) !important;
		stroke-width: 1px !important;
	}
}

.county-hover-pill {

	.county-hover-line{
		vector-effect: non-scaling-stroke;
		stroke-width: 2px;
		stroke: #cbd5e0;
	}

	.county-hover-bg {
		vector-effect: non-scaling-stroke;
		fill: #ffffff;
		stroke: #cbd5e0;
		
		transition: all 0.2s ease;
	}

	.county-hover-text {
		font-family: 'Mona Sans', sans-serif;
		font-weight: 700;
		fill: #4a5568;
		pointer-events: none;

        margin: 10px;


	}
}