@import url("../utilities/colors.scss");

.direct-facility{
	vector-effect: non-scaling-stroke;
	fill: var(--color-medium-blue);
	opacity: 50%;
	transition: all 0.2s ease;

	&:hover, &.hover {
		fill: var(--color-teal);
		opacity: 100%;
		cursor: pointer;
	}
}

.direct-facility-selected{
	vector-effect: non-scaling-stroke;
	fill: var(--color-teal);
	stroke: var(--color-black);
	stroke-width: 3px;
	transition: all 0.2s ease;
}

.direct-facility-faded{
	fill: var(--color-medium-blue);
	opacity: 20%;
	transition: all 0.2s ease;
}

.supplier-facility{
   vector-effect: non-scaling-stroke;
	fill: var(--color-medium-orange);
	opacity: 50%;
	transition: all 0.2s ease;

	&:hover, &.hover {
		fill: var(--color-teal);
		opacity: 100%;
		cursor: pointer;
	}
}

.supplier-facility-selected{
	vector-effect: non-scaling-stroke;
	fill: var(--color-teal);
	stroke: var(--color-black);
	stroke-width: 3px;
}

.supplier-facility-faded{
	fill: var(--color-medium-orange);
	opacity: 20%;
}

.hide-facility{
	opacity: 0;
}

.facility-center{
	fill: var(--color-black);
}
