
.direct-facility{
	fill: #19649F88;
	vector-effect: non-scaling-stroke;

	&:hover, &.hover {
		fill: #19649F;
		stroke: #000000 2px solid;
		cursor: pointer;
	}
}

.supplier-facility{
	fill: #C97C0888;
}

.hide-facility{
	opacity: 0;
}
