	/* Map Elements styling */
	.facility-path {
		fill: red;
		stroke: 1px;
		vector-effect: non-scaling-stroke;
		markerWidth: "0"
	}

	.direct-facility{
		fill: #00660088;
	}

		.direct-facility{
		fill: #00006688;
	}
