
.hover-label {
	transition: all 0.2s ease-in-out;
	z-index: 100;
	
	.hover-label-line{
		vector-effect: non-scaling-stroke;
		stroke-width: 1px;
		stroke: #888888;
	}

	.hover-label-bg {
		vector-effect: non-scaling-stroke;
	}

	.hover-label-text {
		vector-effect: non-scaling-stroke;
		font-family: 'Crimson Text', serif;
		font-weight: 600;
		fill: #000000;
		pointer-events: none;
        margin: 10px;

		background: #ffffff;
		border-radius: 15px;
		border: 1px solid #888888;
		padding: 2px 20px 2px 20px;
		vertical-align: center;
	}

}