@import url("../utilities/colors.scss");

.info-panel {
	width: 300px;
	padding: 30px;
	height: 400px;
	margin-left: 50px;

	#info-header{
		margin-bottom: 0;
	}
	#info-subheader{
		font-weight: 500;
		margin-top: 0;
		margin-bottom: 10px;
	}

	.info-emissions{
		display: flex;
		align-items: baseline;
		padding-top: 10px;

		#emissions-total{
			margin: 0;
			padding-right: 10px;
		}
	}

	.list-header{
		margin-bottom: 0;
		margin-top: 20px;
	}

	h3{
		color: var(--color-ink);
	}

	ol {
		list-style: none;
	 	counter-reset: olCounter;
	 	margin-top: 10px;
	 	padding-left: 20px;
	 	margin-left: 0;
	 	line-height: 10px !important;
	}

	li {
	 	counter-increment: olCounter;
	}

	li button::before {
		content: counter(olCounter) ". ";
		font-family: 'Crimson Text', serif;
		font-size: 1em;
		color: var(--color-ink);;
	}

	button {
		font-family: 'Crimson Text', serif;
		font-size: 1em;
		background: transparent;
		border: none;
		padding: 1px;
		text-align: left;
		color: var(--color-ink);

		&:hover {
			color: var(--color-ink);
			background: var(--color-light-teal);
		}
	}

	&.facility-view{
		.facility-background{
			background-color: var(--color-light-teal);
			border-radius: 10px;
			width: 280px;
			padding: 30px;
			vertical-align: middle;
		}

		#info-header{
			font-size: 20px;
			font-weight: 400;
			width: 90%;
			margin-top: 0;
		}

		#info-subheader{
			font-weight: 800;
			margin-bottom: 5px;
		}

		h3{
			color: var(--color-ink);
			margin-top: 10px;
			margin-bottom: 5px;
		}


		h4{
			font-weight: 400;
			padding: 0;
			margin: 0;
		}
	}

	#close-button{
		display: inline-block;
		float: right;
		margin-right: -20px;
		margin-top: -20px;
		width: 30px;
		height: 30px;
		transition: all 0.2s ease;
		background-color: transparent;
		border-radius: 30px;
		padding: 0;
		border: 0px solid var(--color-white);

		&:hover {
			background: var(--color-white);
		}

		&:focus {
			background: var(--color-white);
			border: 3px solid var(--color-white);
		}

		img{
			width: 100%;
			height: 100%;
		}
	}
	
}
