@import url("../utilities/colors.scss");

.legend{
	right: 0;
	bottom: 0;
	padding: .5rem;
	background-color: var(--color-white);
	border-radius: 10px;

	&.gradient-legend{
		display: inline-flex;
		width: 8rem;
		height: 5rem;

		.labels{
			display: inline-grid;
			width: 8rem;

			label{
				display: grid;
				height: 1.9rem;
				vertical-align: top;
				padding: 0;
				margin-left: .5rem;
			}
		}

		#unit-label{
			display: inline-flex;
			font-weight: 900;
			padding-top: 0;
			height: 1rem;
		}

		#gradient{
			width: 1rem;
			height: 100%;

			&.total_direct{
				background-image: linear-gradient(to bottom, var(--color-light-blue), var(--color-medium-blue), var(--color-dark-blue));
			}
			&.total_supplier{
				background-image: linear-gradient(to bottom, var(--color-light-orange), var(--color-medium-orange), var(--color-dark-orange));
			}
		}
	}

	&.facility-legend{
		display: inline-flex;
		align-items: center;
		padding-right: 2rem;
		bottom: 0rem;


		#facility-icon{
			width: 30px;
			height: 30px;
			opacity: .5;
			border-radius: 30px;

			&.total_direct{
				background-color: var(--color-medium-blue);
			}
			&.total_supplier{
				background-color: var(--color-medium-orange);
			}
		}

		label{
			width: 5rem;
			margin-left: 1rem;
			vertical-align: center;
		}
	}
}