@import url("../utilities/colors.scss");

	.state-boundary {
		stroke: var(--color-black);
		stroke-width: .5px;
		vector-effect: non-scaling-stroke;
		transition: fill 0.2s ease, stroke-width 0.2s ease;

		&:hover, &.hover {
			//stroke-width: 1px;
			//stroke: var(--color-black);
			cursor: pointer;
		}

		&.active {
			fill: none !important;
			stroke: oklch(49.369% 0.01594 145.492) !important;
			stroke-width: 1px !important;
		}
	}