@import url("../utilities/colors.scss");

	.state-boundary {
		stroke: var(--color-black);
		stroke-width: .5px !important;
		vector-effect: non-scaling-stroke;
		transition: all 0.2s ease;

		&:hover, &.hover {
			cursor: pointer;
		}

		&.active {
			fill: none !important;
			stroke-width: .5px !important;
			stroke: none !important;
		}
	}