#toggle{
	margin-top: 50px;

	#checkbox { 
	    display: none; 
	}

	.switch {
	    position: absolute;
	    top: 5px; 
	    left: 5px;
	    width: 20px; 
	    height: 20px;
	    background: #fff;
	    border-radius: 50%;
	    transition: all 0.2s ease-in-out;
	}

	.label {
	    width: 60px;
	    height: 30px;
	    background: #222;
	    display: block;
	    border-radius: 30px;
	    position: relative;
	    cursor: pointer;
	    transition: background 0.4s;
	}

	#checkbox:checked ~ .label { 
	    background: #000; 
	}

	#checkbox:checked ~ .label .switch {
	    left: 35px; 
	}

}
