@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:wght@300;400;500;600;700&display=swap');
// @import url("./utilities/colors.scss");
@import url("./components/timeline.scss");
@import url("./components/info-panel.scss");
@import url("./components/toggles.scss");
@import url("./components/state-paths.scss");
@import url("./components/county-paths.scss");
@import url("./components/facility-paths.scss");
@import url("./components/state-labels.scss");
@import url("./components/callout-group.scss");
@import url("./components/hover-label.scss");
@import url("./components/back-button.scss");
@import url("./components/legend.scss");

#cdp-emissions-map {
	font-family: 'Mona Sans', sans-serif;
	background: #ffffff;
	padding: 24px;
	position: relative;

	h1{
		font-size: 2.5em;
	}
	h2{
		font-size: 2em;
	}
	h3{
		font-size: 1.5em;
		font-weight: 800;
	}
	h4{
		font-size: 1.2em;
	}
	h5{
		font-size: 1em;
	}

	li{
		font-family: 'Crimson Text', serif;
		font-size: 1.5em;
	}

	label{
		font-family: 'Crimson Text', serif;
		font-size: 1.4em;
	}

	option{
		font-family: 'Crimson Text', serif;
		font-size: 1.2em;
	}

	.map-header {
		text-align: center;
		border-bottom: 1px solid #edf2f7;
		padding-bottom: 20px;

		.map-title {
			font-weight: 600;
			margin: 0 0 8px 0;
			color: #1a202c;
			letter-spacing: -0.5px;
		}
	}

	.map-wrapper {
		flex: 1;
		position: relative;

		background: #ffffff;
		border-radius: 12px;
		border: none;
		//overflow: hidden;
		/* max-width: 1400px; */
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.back-button-wrapper {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 10;
	}

	#map-controls {
		width: 100%;

		#timelineSlider{
			width: 65%;
			display: inline-block;
		}

		#toggles{
			display: inline-block;
			
		}
	}

	.map {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 50px;
		box-sizing: border-box;

		svg {
			width: 100%;
			height: auto;
		}
	}
}
