
:root {
  --color-white: #ffffff;
  --color-light-grey: #E2E0DC;
  --color-dark-grey: #747270;
  --color-black: #000000;

  --color-light-orange: #E4BD83;
  --color-medium-orange: #C97C08;
  --color-dark-orange: #784A04;

  --color-light-blue: #8CB1CF;
  --color-medium-blue: #19649F;
  --color-dark-blue: #0C324F;

  --color-ink: #092439;
  --color-teal: #54CDBC;
  --color-light-teal: #B5E8DF;
}