
:root {
  --color-white: #ffffff;
  --color-light-grey: #EEEBE6;
  --color-dark-grey: #979797;
  --color-black: #000000;

  --color-light-orange: #E4BD83;
  --color-medium-orange: #C97C08;
  --color-dark-orange: #784A04;

  --color-light-blue: #8CB1CF;
  --color-medium-blue: #19649F;
  --color-dark-blue: #0C324F;
}